@charset "UTF-8";
@font-face {
  font-family: "Rusulica Script W00 Regular";
  src: url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.eot");
  src: url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.eot?#iefix") format("embedded-opentype"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.woff2") format("woff2"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.woff") format("woff"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.ttf") format("truetype"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.svg#Rusulica Script W00 Regular") format("svg");
}
@font-face {
  font-family: "segoe-print";
  src: url("fonts/segoe-print/segoepr.ttf");
}
@font-face {
  font-family: "segoe-print-b";
  src: url("fonts/segoe-print/segoeprb.ttf");
}
@keyframes shake {
  0% {
    transform: translate(1px, 0px);
  }
  10% {
    transform: translate(-1px, 0px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 0px);
  }
  40% {
    transform: translate(1px, 0px);
  }
  50% {
    transform: translate(-1px, 0px);
  }
  60% {
    transform: translate(-3px, 0px);
  }
  70% {
    transform: translate(3px, 0px);
  }
  80% {
    transform: translate(-1px, 0px);
  }
  90% {
    transform: translate(1px, 0px);
  }
  100% {
    transform: translate(1px, 0px);
  }
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans serif;
  color: #fdcb46;
}

a {
  color: #fdcb46;
  text-decoration: none;
}

.row {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center__wrap {
  flex-wrap: wrap;
}

.banner {
  background-color: #579c87;
  height: 100px;
}
.banner--footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 750px;
}
.banner--footer-pos {
  position: fixed;
  height: 50px;
  bottom: 0;
}
.banner img {
  max-width: 240px;
}

.footer-links {
  font-size: 1.1em;
  width: 170px;
  height: 50px;
}
.footer-links:hover {
  animation: shake 300ms;
}

.logo {
  font-size: 2.7em;
}

.mosaique {
  max-width: 750px;
  margin: 30px 0px;
}

.shadow {
  box-shadow: 0px 0px 12px #BBBBBB;
}
.shadow--mask {
  overflow: hidden;
  margin: 20px 20px;
  max-width: 300px;
  height: 424px;
}

.tile {
  width: 300px;
  height: 424px;
  flex-direction: column;
}
.tile:hover {
  transition: 300ms;
  opacity: 0.4;
  transform: scale(1.1);
}
.tile img {
  width: 20%;
}
.tile__note-enchantee {
  background-color: #fcdfdb;
}
.tile__note-enchantee h2 {
  font-family: "Devonshire", cursive;
  font-size: 1.7em;
  font-weight: normal;
}
.tile__note-enchantee h2 {
  background: linear-gradient(to right, #3d1319 0%, #3d1319 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tile__note-enchantee p {
  margin: 0;
  color: #3d1319;
}
.tile__note-enchantee p {
  font-family: "segoe-print-b", Comic Sans MS;
  font-size: 1.7em;
  font-weight: normal;
}
.tile__chic-francaise {
  background-color: #fff5fe;
}
.tile__chic-francaise h2 {
  font-family: "Croissant One", cursive;
  font-size: 1.25em;
  font-weight: normal;
}
.tile__chic-francaise h2 {
  background: linear-gradient(to right, #eba54e 0%, #915dfe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tile__chic-francaise p {
  margin: 0;
  color: #c77412;
}
.tile__chic-francaise p {
  font-family: "Old Standard TT", serif;
  font-size: 1.7em;
  font-weight: normal;
}
.tile__delice-papilles {
  background-color: #f9f9f9;
}
.tile__delice-papilles h2 {
  font-family: "Rusulica Script W00 Regular", cursive;
  font-size: 1.4em;
  font-weight: bold;
}
.tile__delice-papilles h2 {
  background: linear-gradient(to right, #0022db 0%, #08d9fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tile__delice-papilles p {
  margin: 0;
  color: #0887fb;
}
.tile__delice-papilles p {
  font-family: "segoe-print", Comic Sans MS;
  font-size: 1.7em;
  font-weight: normal;
}
.tile__palette-gout {
  background-color: #fdfffd;
}
.tile__palette-gout h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  font-weight: normal;
}
.tile__palette-gout h2 {
  background: linear-gradient(to right, #41963c 0%, #beff7f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tile__palette-gout p {
  margin: 0;
  color: #72bf56;
}
.tile__palette-gout p {
  font-family: "segoe-print", Comic Sans MS;
  font-size: 1.7em;
  font-weight: normal;
}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  min-width: 90%;
  height: 900px;
  padding: 50px;
}
.menu__box {
  color: black;
  flex-direction: column;
}
.menu__title-box {
  height: 200px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__title-box h2 {
  margin: 0;
}
.menu__title-box img {
  width: 90px;
  height: 90px;
}
.menu__head-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__head-box img {
  width: 27%;
}
.menu__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.menu__content__layout {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.menu__content__layout--note {
  width: 100%;
}
.menu__content__layout p {
  margin: 8px 0px;
}
.menu__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
.menu__footer img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.menu__note-enchantee {
  background-color: #fcdfdb;
  font-family: "segoe-print-b", Comic Sans MS;
  font-size: 1em;
  font-weight: normal;
  color: #3d1319;
}
.menu__note-enchantee h2 {
  font-family: "Devonshire", cursive;
  font-size: 3em;
  font-weight: normal;
}
.menu__note-enchantee h2 {
  background: linear-gradient(to right, #3d1319 0%, #3d1319 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__note-enchantee p {
  margin: 0;
  color: #3d1319;
}
.menu__note-enchantee p {
  font-family: "segoe-print-b", Comic Sans MS;
  font-size: 0.9em;
  font-weight: normal;
}
.menu__note-enchantee--underline {
  position: relative;
}
.menu__note-enchantee--underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: #3d1319;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.menu__note-enchantee--underline:hover:before {
  transform: scaleX(1);
}
.menu__chic-francaise {
  background-color: #fff5fe;
}
.menu__chic-francaise h2 {
  font-family: "Croissant One", cursive;
  font-size: 2.3em;
  font-weight: normal;
}
.menu__chic-francaise h2 {
  background: linear-gradient(to right, #eba54e 0%, #915dfe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__chic-francaise p {
  margin: 0;
  color: #c77412;
}
.menu__chic-francaise p {
  font-family: "Old Standard TT", serif;
  font-size: 0.9em;
  font-weight: normal;
}
.menu__chic-francaise--one p {
  margin: 8px;
  color: #c77412;
}
.menu__chic-francaise--two p {
  margin: 8px;
  color: #a56799;
}
.menu__chic-francaise--three p {
  margin: 8px;
  color: #6e4ccc;
}
.menu__chic-francaise--underline--one {
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
  font-weight: normal;
  color: #c77412;
  position: relative;
}
.menu__chic-francaise--underline--one:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: #c77412;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.menu__chic-francaise--underline--one:hover:before {
  transform: scaleX(1);
}
.menu__chic-francaise--underline--one p {
  margin: 8px;
  color: #c77412;
}
.menu__chic-francaise--underline--two {
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
  font-weight: normal;
  color: #a56799;
  position: relative;
}
.menu__chic-francaise--underline--two:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: #a56799;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.menu__chic-francaise--underline--two:hover:before {
  transform: scaleX(1);
}
.menu__chic-francaise--underline--three {
  font-family: "Old Standard TT", serif;
  font-size: 1.2em;
  font-weight: normal;
  color: #6e4ccc;
  position: relative;
}
.menu__chic-francaise--underline--three:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: #6e4ccc;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.menu__chic-francaise--underline--three:hover:before {
  transform: scaleX(1);
}
.menu__delice-papilles {
  background-color: #edefef;
  font-family: "segoe-print-b", Comic Sans MS;
  font-size: 1em;
  font-weight: normal;
  color: black;
}
.menu__delice-papilles h2 {
  font-family: "Rusulica Script W00 Regular", cursive;
  font-size: 3.2em;
  font-weight: bold;
}
.menu__delice-papilles h2 {
  background: linear-gradient(to right, #0022db 0%, #08d9fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__delice-papilles p {
  margin: 0;
  color: black;
}
.menu__delice-papilles p {
  font-family: "segoe-print", Comic Sans MS;
  font-size: 0.9em;
  font-weight: bold;
}
.menu__delice-papilles--underline {
  position: relative;
}
.menu__delice-papilles--underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: #0887fb;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.menu__delice-papilles--underline:hover:before {
  transform: scaleX(1);
}
.menu__palette-gout {
  background-color: #fdfffd;
  font-family: "segoe-print-b", Comic Sans MS;
  font-size: 1em;
  font-weight: normal;
  color: black;
}
.menu__palette-gout h2 {
  font-family: "Kaushan Script", cursive;
  font-size: 3.5em;
  font-weight: normal;
}
.menu__palette-gout h2 {
  background: linear-gradient(to right, #41963c 0%, #beff7f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__palette-gout p {
  margin: 0;
  color: black;
}
.menu__palette-gout p {
  font-family: "segoe-print", Comic Sans MS;
  font-size: 0.9em;
  font-weight: bold;
}
.menu__palette-gout--underline {
  position: relative;
}
.menu__palette-gout--underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: #72bf56;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.menu__palette-gout--underline:hover:before {
  transform: scaleX(1);
}

.soon {
  background-color: #579c87;
  border-radius: 7px;
  font-size: 1.6em;
  height: 50px;
  width: 300px;
  margin-bottom: 60px;
}
.soon__text:after {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 2800ms infinite;
  content: "…";
  width: 0px;
}

.legal {
  color: black;
}
.legal h1 {
  text-align: center;
}
.legal p {
  text-align: justify;
}

@media (max-width: 768px) {
  .menu {
    width: 95%;
    height: 100%;
    padding: 5px;
  }
}
@media (max-width: 425px) {
  .tile {
    width: 300px;
  }

  .menu {
    padding: 5px;
    height: 100%;
  }
  .menu__box {
    margin: 20px 5px;
  }
  .menu__title-box h2 {
    font-size: 1.7em;
  }
  .menu__title-box--note {
    font-size: 1.7em;
  }
  .menu__title-box--chic {
    font-size: 0.8em;
  }
  .menu__head-box {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .menu__head-box img {
    width: 90%;
  }
  .menu__head-box h3 {
    margin: 2px;
  }

  .banner--footer {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
