@charset "UTF-8";
@font-face {
  font-family: "Rusulica Script W00 Regular";
  src: url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.eot");
  src: url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.eot?#iefix") format("embedded-opentype"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.woff2") format("woff2"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.woff") format("woff"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.ttf") format("truetype"), url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.svg#Rusulica Script W00 Regular") format("svg");
}
@font-face {
  font-family: "segoe-print";
  src: url("fonts/segoe-print/segoepr.ttf");
}
@font-face {
  font-family: "segoe-print-b";
  src: url("fonts/segoe-print/segoeprb.ttf");
}
@keyframes shake {
  0% {
    transform: translate(1px, 0px);
  }
  10% {
    transform: translate(-1px, 0px);
  }
  20% {
    transform: translate(-3px, 0px);
  }
  30% {
    transform: translate(3px, 0px);
  }
  40% {
    transform: translate(1px, 0px);
  }
  50% {
    transform: translate(-1px, 0px);
  }
  60% {
    transform: translate(-3px, 0px);
  }
  70% {
    transform: translate(3px, 0px);
  }
  80% {
    transform: translate(-1px, 0px);
  }
  90% {
    transform: translate(1px, 0px);
  }
  100% {
    transform: translate(1px, 0px);
  }
}
@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans serif;
  color: #fdcb46;
}

a {
  color: #fdcb46;
  text-decoration: none;
}

.row {
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center__wrap {
  flex-wrap: wrap;
}

.banner {
  background-color: #579c87;
  height: 100px;
}
.banner--footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 750px;
}
.banner--footer-pos {
  position: fixed;
  height: 50px;
  bottom: 0;
}

.footer-links {
  font-size: 1.1em;
  width: 170px;
  height: 50px;
}
.footer-links:hover {
  animation: shake 300ms;
}

.logo {
  font-size: 2.7em;
}

.mosaique {
  max-width: 750px;
  margin: 30px 0px;
}

.menu {
  width: 300px;
  height: 424px;
  flex-direction: column;
}
.menu:hover {
  transition: 300ms;
  opacity: 0.4;
  transform: scale(1.1);
}
.menu__note-enchantee {
  background-color: #fcdfdb;
}
.menu__note-enchantee h2, .menu__note-enchantee h3 {
  font-family: "Devonshire", cursive;
  font-size: 1.7em;
  font-weight: normal;
}
.menu__note-enchantee h2, .menu__note-enchantee h3 {
  background: linear-gradient(to right, #3d1319 0%, #3d1319 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__note-enchantee p {
  margin: 0;
  color: #3d1319;
}
.menu__note-enchantee p {
  font-family: "segoe-print-b", Comic Sans MS;
  font-size: 1.7em;
  font-weight: normal;
}
.menu__chic-fancaise {
  background-color: #fff5fe;
}
.menu__chic-fancaise h2, .menu__chic-fancaise h3 {
  font-family: "Croissant One", cursive;
  font-size: 1.3em;
  font-weight: normal;
}
.menu__chic-fancaise h2, .menu__chic-fancaise h3 {
  background: linear-gradient(to right, #eba54e 0%, #915dfe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__chic-fancaise p {
  margin: 0;
  color: #c77412;
}
.menu__chic-fancaise p {
  font-family: "Old Standard TT", serif;
  font-size: 2em;
  font-weight: normal;
}
.menu__delice-papilles {
  background-color: #f9f9f9;
}
.menu__delice-papilles h2, .menu__delice-papilles h3 {
  font-family: "Rusulica Script W00 Regular", cursive;
  font-size: 1.4em;
  font-weight: bold;
}
.menu__delice-papilles h2, .menu__delice-papilles h3 {
  background: linear-gradient(to right, #0022db 0%, #08d9fb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__delice-papilles p {
  margin: 0;
  color: #0887fb;
}
.menu__delice-papilles p {
  font-family: "segoe-print", Comic Sans MS;
  font-size: 1.7em;
  font-weight: normal;
}
.menu__palette-gout {
  background-color: #fdfffd;
}
.menu__palette-gout h2, .menu__palette-gout h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5em;
  font-weight: normal;
}
.menu__palette-gout h2, .menu__palette-gout h3 {
  background: linear-gradient(to right, #41963c 0%, #beff7f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__palette-gout p {
  margin: 0;
  color: #72bf56;
}
.menu__palette-gout p {
  font-family: "segoe-print", Comic Sans MS;
  font-size: 1.7em;
  font-weight: normal;
}
.menu__box {
  color: black;
  flex-direction: column;
}
.menu__main {
  background-color: #fcdfdb;
  box-shadow: 0px 0px 12px #BBBBBB;
  flex-direction: column;
  background-color: #fcdfdb;
  max-width: 750px;
  min-width: 90%;
  padding: 50px;
  display: flex;
}
.menu__main h2, .menu__main h3 {
  font-family: "Devonshire", cursive;
  font-size: 2.5em;
  font-weight: normal;
}
.menu__main h2, .menu__main h3 {
  background: linear-gradient(to right, #3d1319 0%, #3d1319 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__main p {
  margin: 0;
  color: #3d1319;
}
.menu__main p {
  font-family: "segoe-print-b", Comic Sans MS;
  font-size: 1em;
  font-weight: normal;
}
.menu__main h3 {
  font-family: "segoe-print", Comic Sans MS;
  font-size: 1.2em;
  font-weight: bold;
}
.menu__main h3:hover {
  /* ! Animer ! */
  text-decoration: underline;
}
.menu--underline {
  position: relative;
}
.menu--underline:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  left: 0;
  background-color: #3d1319;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 200ms ease-in-out;
}
.menu--underline:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.menu__head-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.menu__head-box img {
  width: 35%;
}
.menu__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu__content p {
  margin: 8px 0px;
}
.menu__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
.menu__footer img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.mask {
  box-shadow: 0px 0px 12px #BBBBBB;
  margin: 20px 20px;
  overflow: hidden;
  max-width: 300px;
  height: 424px;
}

.soon {
  background-color: #579c87;
  border-radius: 7px;
  font-size: 1.6em;
  height: 50px;
  width: 300px;
}
.soon__text:after {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 2800ms infinite;
  content: "…";
  width: 0px;
}

#menu-note {
  width: 90px;
  height: 90px;
}

#note {
  width: 20%;
}

#logo {
  max-width: 240px;
}

#legal {
  color: black;
  text-align: justify;
}

@media (max-width: 320px) {
  body {
    margin-bottom: 130px;
  }

  .menu {
    width: 260px;
  }
  .menu__box {
    margin: 20px 5px;
  }
  .menu__main {
    max-width: 750px;
    min-width: 80%;
    padding: 5px;
  }
  .menu__head-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .menu__head-box img {
    width: 90%;
  }
  .menu__head-box h3 {
    margin: 0;
  }

  .mask {
    height: 367px;
  }

  .banner--footer {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
