@font-face {
    font-family: "Rusulica Script W00 Regular";
    src: url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.eot");
    src: url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.eot?#iefix") format("embedded-opentype"),
    url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.woff2") format("woff2"),
    url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.woff") format("woff"),
    url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.ttf") format("truetype"),
    url("fonts/rusulica/d8058ebda252971c44e0a5ea55496931.svg#Rusulica Script W00 Regular") format("svg");
}

@font-face {
    font-family: "segoe-print";
    src: url("fonts/segoe-print/segoepr.ttf");
}

@font-face {
    font-family: "segoe-print-b";
    src: url("fonts/segoe-print/segoeprb.ttf");
}

// Banners & fonts default colors.
$main-color: #579c87;
$font-color: #fdcb46;
// Default font.
$font: Arial, sans serif;
// Main menu fonts.
$font-note: 'Devonshire', cursive;
$font-chic: 'Croissant One', cursive;
$font-delice: 'Rusulica Script W00 Regular';
$font-palette: 'Kaushan Script', cursive;
// Auxiliary menu fonts.
$font-p-note-b: 'segoe-print-b', Comic Sans MS;
$font-p-chic: 'Old Standard TT', serif;
$font-p-note: 'segoe-print', Comic Sans MS;
// Start color of the gradients in menu titles.
$font-c-grad-start-note: #3d1319;
$font-c-grad-start-chic: #eba54e;
$font-c-grad-start-delice: #0022db;
$font-c-grad-start-palette: #41963c;
// End color of the gradients in menu titles.
$font-c-grad-end-note: #3d1319;
$font-c-grad-end-chic: #915dfe;
$font-c-grad-end-delice: #08d9fb;
$font-c-grad-end-palette: #beff7f;
// Colors of the auxiliary menu titles.
$font-c-aux-note: #3d1319;
$font-c-aux-chic: #c77412;
$font-c-aux-delice: #0887fb;
$font-c-aux-palette: #72bf56;
// Font sizes of the main menu titles.
$font-size-note: 1.7em;
$font-size-chic: 1.3em;
$font-size-delice: 1.4em;
$font-size-palette: 1.5em;
// Colors of the menu tile backgrounds.
$menu-bg-color-note: #fcdfdb;
$menu-bg-color-chic: #fff5fe;
$menu-bg-color-delice: #f9f9f9;
$menu-bg-color-palette: #fdfffd;


@keyframes shake {
    0% { transform: translate(1px, 0px); }
    10% { transform: translate(-1px, 0px); }
    20% { transform: translate(-3px, 0px); }
    30% { transform: translate(3px, 0px); }
    40% { transform: translate(1px, 0px); }
    50% { transform: translate(-1px, 0px); }
    60% { transform: translate(-3px, 0px); }
    70% { transform: translate(3px, 0px); }
    80% { transform: translate(-1px, 0px); }
    90% { transform: translate(1px, 0px); }
    100% { transform: translate(1px, 0px); }
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}

@mixin h2-gradient ($grad-start, $grad-end) {
    h2 {
        background: linear-gradient(to right, $grad-start 0%, $grad-end 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@mixin p-layout ($color) {
    p {
        margin: 0;
        color: $color;
    }
}

@mixin h2-font ($font, $size, $weight: normal) {
    h2 {
        font-family: $font;
        font-size: $size;
        font-weight: $weight;
    }
}

@mixin p-font ($font, $size, $weight: normal) {
    p {
        font-family: $font;
        font-size: $size;
        font-weight: $weight;
    }
}

@mixin menu-conf ($bg-color, $main-font, $main-font-size, $grad-start, $grad-end, $aux-color, $aux-font, $aux-size, $main-font-weight: normal, $aux-font-weight: normal) {
    background-color: $bg-color;
    @include h2-font ($main-font, $main-font-size, $main-font-weight);
    @include h2-gradient($grad-start, $grad-end);
    @include p-layout($aux-color);
    @include p-font($aux-font, $aux-size, $aux-font-weight);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $font;
    color: $font-color;
}

a {
    color: $font-color;
    text-decoration: none;
}

.row {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        flex-wrap: wrap;
    }
}

.banner {
    background-color: $main-color;
    height: 100px;

    &--footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 750px;
    }

    &--footer-pos {
        position: fixed;
        height: 50px;
        bottom: 0;
    }
}

.footer-links {
    font-size: 1.1em;
    width: 170px;
    height: 50px;

    &:hover {
        animation: shake 300ms;
    }
}

.logo {
    font-size: 2.70em;
}

.mosaique {
    max-width: 750px;
    margin: 30px 0px;
}

.menu {
    width: 300px;
    height: 424px;
    flex-direction: column;

    &:hover {
        transition: 300ms;
        opacity: 0.4;
        transform: scale(1.10);
    }

    &__note-enchantee {
        @include menu-conf ($menu-bg-color-note, $font-note, $font-size-note, $font-c-grad-start-note, $font-c-grad-end-note, $font-c-aux-note, $font-p-note-b, 1.7em);
    }

    &__chic-fancaise {
        @include menu-conf ($menu-bg-color-chic, $font-chic, $font-size-chic, $font-c-grad-start-chic, $font-c-grad-end-chic, $font-c-aux-chic, $font-p-chic, 2.0em);
    }

    &__delice-papilles {
        @include menu-conf ($menu-bg-color-delice, $font-delice, $font-size-delice, $font-c-grad-start-delice, $font-c-grad-end-delice, $font-c-aux-delice, $font-p-note, 1.7em, bold);
    }

    &__palette-gout {
        @include menu-conf ($menu-bg-color-palette, $font-palette, $font-size-palette, $font-c-grad-start-palette, $font-c-grad-end-palette, $font-c-aux-palette, $font-p-note, 1.7em);
    }

    &--box {
        color: black;
        flex-direction: column;
    }

    &--main {
        font-family: $font-note;
        box-shadow: 0px 0px 12px #BBBBBB;
        flex-direction: column;
        background-color: $menu-bg-color-note;
        max-width: 750px;
        min-width: 10px;
        padding: 50px;

        &__head-box {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            h3 {

            }

            img {
                width: 35%;
            }
        }
    }
}

.mask {
    box-shadow: 0px 0px 12px #BBBBBB;
    margin: 20px 20px;
    overflow: hidden;
    max-width: 300px;
    height: 424px;
}

.soon {
    background-color: $main-color;
    border-radius: 7px;
    font-size: 1.6em;
    height: 50px;
    width: 300px;

    &__text:after {
        position: absolute;
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis steps(4,end) 2800ms infinite;
        content: "\2026";
        width: 0px;
    }
}

#menu-note {

}

#note {
    width: 20%;
}

#logo {
    max-width: 240px;
}

#legal {
    color: black;
    text-align: justify;
}

@media (max-width: 380px) {
    body {
        margin-bottom: 130px;
    }

    .menu {
        width: 260px;
    }

    .mask {
        height: 367px;
    }

    .banner--footer {
        justify-content: center;
    }
}
