$main-color: #579c87;
$font-color: #fdcb46;
$font: Arial, sans serif;

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $font;
    color: $font-color;
}

a {
    color: $font-color;
    text-decoration: none;
}

.row {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrap {
        flex-wrap: wrap;
    }
}

.banner {
    background-color: $main-color;
    height: 100px;

    &--footer {
        display: flex;
        justify-content: space-between;
        align-content: center;
        position: fixed;
        height: 50px;
        bottom: 0;
    }
}

.footer-links {
    font-size: 1.1em;
    width: 200px;
    height: 50px;


    &--end {

    }
}

.logo {
    font-size: 2.70em;
}

.mosaique {
    max-width: 750px;
    margin: 30px 0px;
}

.menu {
    width: 300px;

    &:hover {
        transition: 300ms;
        opacity: 0.4;
        transform: scale(1.10);
    }
}

.mask {
    box-shadow: 0px 0px 12px #BBBBBB;
    margin: 20px 20px;
    overflow: hidden;
    max-width: 300px;
    height: 424px;
}

.soon {
    background-color: $main-color;
    border-radius: 7px;
    font-size: 1.6em;
    height: 50px;
    width: 300px;
}

@media (max-width: 380px) {
    body {
        margin-bottom: 130px;
    }

    .menu {
        width: 260px;
    }

    .mask {
        height: 367px;
    }

    .banner--footer {
        justify-content: center;
        height: 100px;
    }
}
